<!DOCTYPE html>
<html>
<head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title>Task List</title>
    ...
</head>
<body>
<!--/* Standard layout can be mixed with Layout Dialect */-->
<div>
    ...
</div>
<div class="container">
    <div layout:fragment="content">
        <h1>Static content for prototyping purposes only</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit.
        </p>
    </div>
</div>
</body>
</html>
